code:not([contenteditable="false"]):not(.cke_show_blocks_off) {
  display: block;
  background-color: dimgrey;
  color: lightgray;
}

.notes {
  margin: 0;
  display: block;
  border: solid;
  color: darkblue;
  background-color: dodgerblue;
  padding: .5em;
  border: solid 1px;
}

.notes:before {
  margin: -.5em -.5em 0 -.5em;
  padding: .5em;
  display: block;
  content: 'NOTES:';
  color: whitesmoke;
  background-color: darkblue;
  font-weight: bolder;
}

section:after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  margin: 1em 0;
  background-color: #0a65aa;
  border-bottom: dot-dot-dash black;
}
