<!doctype html>
<html>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body>

  {{ page }}

  <js-bottom-placeholder token="{{ placeholder_token|raw }}">

  </body>
</html>
